
@media only screen and (max-width: 767px) {
    .hide-mobile { display: none !important; }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .hide-tablet { display: none !important; }
}
@media only screen and (min-width: 1025px) {
    .hide-desktop { display: none !important; }
}
